# This workflow runs on pushes to main branch
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/actions/init

    - name: Run lint
      run: make lint

  ut:
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/actions/init

    - name: Run unit tests
      run: make ut

  dockerize:
    runs-on: ubuntu-latest
    needs: [lint, ut]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./docker/Dockerfile
        push: false
        tags: leaderboard-app:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
